{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}
<div class="grid-100 grid-parent">
	<div class="grid-100">
		<section class="featured outlined relative grid-100">
        <h2>Terms and Conditions</h2>
        
        <p>All plans are copyrighted by Don Hildebrand Home Designs. Buying a set of plans from us allows the building of that specific house 1 (one) time only. 
    
        <p>All sales on house plans and customizations/modifications are final. No refunds or exchanges can be given once your order has started the fulfillment process.</p>

        <p>All house plans from Don Hildebrand Home Designs are designed to conform to the local codes when and where the original house was constructed.</p>

        <p>In addition to the house plans you order, you may also need a site plan that shows where the house is going to be located on the property. You might also need beams sized to accommodate roof loads specific to your region. Your home builder can usually help you with this. You may also need a septic design unless your lot is served by a sanitary sewer system. Many areas now have area-specific energy codes that also have to be followed. This normally involves filling out a simple form providing documentation that your house plans are in compliance.</p>

        <p>In some regions, there is a second step you will need to take to insure your house plans are in compliance with local codes. Some areas of North America have very strict engineering requirements. Examples of this would be, but not limited to, earthquake-prone areas of California and the Pacific Coast, hurricane risk areas of the Florida, Gulf & Carolina Coasts. New York, New Jersey, Nevada, and parts of Illinois require review by a local professional as well. If you are building in these areas, it is most likely you will need to hire a state licensed structural engineer to analyze the design and provide additional drawings and calculations required by your building department. If you aren’t sure, building departments typically have a handout they will give you listing all of the items they require to submit for and obtain a building permit.</p>

        <p>Additionally, stock plans do not have a professional stamp attached. If your building department requires one, they will only accept a stamp from a professional licensed in the state where you plan to build. In this case, you will need to take your house plans to a local engineer or architect for review and stamping. In addition, plans which are used to construct homes in Nevada are required to be drawn by a licensed Nevada architect.</p>
        </section>
    </div>
</div>
{% endblock body %}