html, body, header, main, div, nav, h1, h2, h3, h4, h5, h6, ul, ol, li, p, span, a {
	padding: 0;
	border: 0;
	margin: 0;
}
body {
	background-color: #fff;
}
div {
	margin: 0 0 0 0;
}
h1 {
	margin: 0.5em 0 0.33em 0;
	padding-top: 0.5em;
	color: #cc3910;
	font-size: 3em;
	font-family: 'Josefin Sans', sans-serif;
}
h2 {
	margin: 0.5em 0 0.33em 0;
	color: #cc3910;
	font-size: 1.7em;
	font-family: 'Josefin Sans', sans-serif;
}
h3 {
	margin: 0.5em 0 0.33em 0;
	color: #cc3910;
	font-size: 1.7em;
	font-family: 'Josefin Sans', sans-serif;
}
p {
	margin: 0 0 1.15em 0;
	color: #332f29;
	font-family: Cambo, serif;
}
ul {
	list-style-type: none;
 	margin: 0 0 0 1.5em;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: #e24a33;
}
a:hover {
	color: #188487;
}
.brand h1 {
	color: #cc3910;
	font-weight: 400;
	font-size: 3em;
	margin: 0.5em 0 0.5em 0;
}
.brand a{
	color: #cc3910;
}
.brand a:hover {
	color: #ccc593;
}
.nav {
	margin-bottom: 1em;
	font-family: 'Josefin Sans', sans-serif;
}
.nav li {
	display: inline;
	font-size: 1.3em;
	text-align: left;
}

.social li, span {
	display: inline;
	text-align: right;
	font-size: 0.75em;
	color: #e4e4e4;
	margin-top: 1em;
}