html, body, header, main, div, nav, h1, h2, h3, h4, h5, h6, ul, ol, li, p, span, a, figure, section, article, footer {
	padding: 0;
	border: 0;
	margin: 0;
}
body {
	background: #fffde6 url(../images/light_toast.png) top left repeat;
	font-family: 'Cambo', serif;
}
h1, h2, h3 {
	margin: 0.5em 0 0.33em 0;
	padding-top: 0.5em;
	color: #c1392b;
	font-size: 2.5em;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
}
h2 {
	font-size: 2em;
	margin-top: 0.25em
}
h3 {
	font-size: 1.5em;
}
p {
	margin: 0 0 1.15em 0;
	color: #1e1e1e;
	line-height: 1.6;
}
ul {
	list-style-type: none;
 	margin: 0 0 0 0;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: #c1392b;
}
a:hover {
	color: #b64926;
}
section {
	background-color: #fff;
}
footer {
	background-color: #fff;
}
.brand {
	background-color: #fff7d9; /* #fff0a5; rgba(236, 223, 205, 1);*/
	color: #c1392b;
	position: relative;
	margin-top: 1em;
}
.brand h1 {
	font-weight: 400;
	font-size: 4em;
	margin: 0em 0em 0.6em 0;em
	display: inline;
}
.logo {
	text-align: center;
	padding-bottom: 1em;
}
nav {
	padding: 0;
	margin-left: 0;
	margin-bottom: 1em;
	font-family: 'Josefin Sans', sans-serif;
}
nav li {
	display: inline;
	font-size: 2em;
}
nav a {
	border-bottom-color: #fff7d9;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	transition: all 0.5s ease-in-out;
}
nav a:hover {
	border-bottom-color: #2a80b9;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.featured {
	background-color: #fff;
}
section.featured {
	/* border-radius: 0.5em; */
}
.featured img {
	padding: 0;
}
.featured h1 {
	text-align: center;
	margin-bottom: 1em;
}
.plan-block {
	background: #2d3e50;
	border: 2px solid #2a80b9;
	margin-bottom: 1em;
}
.plan-block img {
	margin: 0.1em 0;
	text-align: center;
}
.plan-block span {
	padding: 0.5em;
	font-size: 1.5em;
	margin: 0.1em 0;
	text-align: center;
}
.plan-block a {
	color: #fff;
}
.img-rotator {
	padding: 0.5em;
	margin-top: 1em;
	/* border-radius: 0.5em; */
}
.img-rotator figure {
	padding: 0.5em;
}
.img-rotator p {
	padding-left: 0.5em;
}
.img-rotator h2 {
	padding-left: 0.25em;
}
.auth{
	text-align: right;
	font-size: 1.25em;
}
.auth a {
	color: #2a80b9;
}