{% extends 'base.html' %}

{% load staticfiles %} 

{% block body %}
	<div class="grid-100 grid-parent">
		<div class="grid-100 ">
			<section class="featured outlined grid-100">
				<h1>About</h1>
				<p>Don Hildebrand Home Designs, L.L.C., was established in September, 1995.</p>
				<p>With over forty years of experience, Don possesses a wonderful sense of style and creativity. He is known for maximizing livable space in a home, allowing you the amenities you want within your design constraints.</p>
				<p>Don has a support staff committed to creating a quality product. Our company works as a team to achieve these goals. We strive to stay abreast of the changing times, styles, desires, and needs of our customers.</p>
				<p>Our company's goal is to turn your dreams into a reality; a home you will be proud of for many years to come.</p>
			</section>
		</div>
	</div>
{% endblock body %}
