{% extends 'base.html' %}

{% load staticfiles %}

{% block script %}
		<script>
		// This is a sample jquery script to bold links as they are moused over -- just for practice.
			$(document).ready(function() {
				$('li').on('mouseover', 'a', function() {
					$(this).css('font-weight', 'light');
				});
				$('li').on('mouseleave', 'a', function() {
					$(this).css('font-weight', 'normal');
				});
			});
		</script>
{% endblock script %}

{% block body %}
	<div class="grid-100">
	{% if user.is_authenticated %}
		{% if user.first_name %}
			<h2>Welcome, {{ user.first_name }}.</h2>
		{% else %}
			<h2>Welcome, {{ user.username }}.</h2>
		{% endif %}
	{% else %}
		<h2>Welcome.</h2>
	{% endif %}
	<p>You've found the home page of Don Hildebrand Home Designs.</p>
	</div>
	<div class="grid-50 tablet-grid-50">
		{% if popular_plans %}
			<h3>Most Viewed</h3>
			<ul>
			{% for plan in popular_plans %}
				<li><a href="/plan/{{ plan.number }}">{{ plan.number }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no plans present.</strong>
		{% endif %}
	</div>
	<div class="grid-50 tablet-grid-50">
		{% if recent_plans %}
			<h3>Recently Added</h3>
			<ul>
			{% for plan in recent_plans %}
				<li><a href="/plan/{{ plan.number }}">{{ plan.number }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no plans present.</strong>
		{% endif %}
	</div>
	<div class="grid-100">
		<img src="{% static 'images/index_image_oct04.jpg' %}" alt="home page image" />
	</div>
{% endblock body %}
