{% extends 'base.html' %}

{% load staticfiles %}

{% block script %}
		<script>
		// This is a sample jquery script to bold links as they are moused over -- just for practice.
			$(document).ready(function() {
				$('li').on('mouseover', 'a', function() {
					$(this).css('font-weight', 'light');
				});
				$('li').on('mouseleave', 'a', function() {
					$(this).css('font-weight', 'normal');
				});
			});
		</script>
{% endblock script %}

{% block body %}
	<div class="grid-100">
	{% if user.is_authenticated %}
		{% if user.first_name %}
			<h2>Welcome Home {{ user.first_name }}.</h2>
		{% else %}
			<h2>Welcome Home, {{ user.username }}.</h2>
		{% endif %}
	{% else %}
		<h2>Welcome Home</h2>
	{% endif %}
	<p>For forty years, we've been helping you put pen to paper and design the home you'll love today...and for years to come.
	   At Don Hildebrand Home Designs, it's important to us to help you do something.</p>
	</div>
	<div class="grid-50 tablet-grid-50">
		{% if popular_plans %}
			<h3>Most Viewed</h3>
			<ul>
			{% for plan in popular_plans %}
				<li><a href="/plan/{{ plan.number }}">{{ plan.number }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no plans present.</strong>
		{% endif %}
	</div>
	<div class="grid-50 tablet-grid-50">
		{% if recent_plans %}
			<h3>Recently Added</h3>
			<ul>
			{% for plan in recent_plans %}
				<li><a href="/plan/{{ plan.number }}">{{ plan.number }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no plans present.</strong>
		{% endif %}
	</div>
{% endblock body %}
